

<div class="container bg-dark">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
          <%=  link_to books_path ,class: 'nav-link text-light' do %>
            Books
          <% end %>
        </li>
        <li class="nav-item">
          <%=  link_to users_path,class: 'nav-link text-light' do %>
            Users
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
            Logout
          <% end %>
        </li>
      </ul>
    </header>
  </div>
